///////////////////////////////////////////////////////////////////////////////
// blog-post.module.sass //////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import ../../styles/global
@import /css/quill.core.css

.bodytext
  font-family: $blogFont
  font-size: 20px
  font-weight: 300
  line-height: 30px
  display: flex
  flex-direction: column

  img
    max-width: 800px
    padding-top: 48px
    padding-bottom: 48px

  code
    font-size: 14px

  @media (max-width: 800px)
    margin-top: 20px
    font-size: 18px

.ql-video
  height: 30vw

.BlogPost
  width: 55%
  margin-top: 84px
  margin-right: auto
  margin-left: auto

  @media ($indexBreak)
    width: 80%

  @media (max-width: 800px)
    width: 90%

.BlogPost__progressbar
  position: fixed
  bottom: 0
  left: 0
  height: 6px
  background: #333
  border-radius: 2px
  z-index: 1

.BlogPost__title
  font-family: $primaryFont
  font-size: 45px
  font-weight: 300
  color: $blackFontColor
  margin-bottom: 24px

/////////////////////////
// Author Info Section //
/////////////////////////

.BlogPost__authorInfo
  padding-left: 5px
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-content: center
  margin-top: 18px
  margin-bottom: 18px

.BlogPost__authorLink
  flex-direction: row
  justify-content: flex-start
  align-content: center

.authorInfo__image
  float: left
  margin-right: 10px
  height: 50px
  width: 50px
  border-radius: 40px

.authorInfo__text
  margin-left: 6px

.authorInfo__text__name
  font-family: $secondaryFont
  font-weight: 300
  font-size: 16px
  padding-top: 2px
  padding-bottom: 2px

.BlogPost__description
  font-weight: 300
  margin-top: 24px
  margin-bottom: 24px
  font-family: $secondaryFont
  font-size: 20px
  font-style: italic
  color: $blackFontColor

  @media (max-width: 800px)
    margin-top: 20px
    font-size: 18px

    img
      height: auto
      display: block
      margin: auto
      max-width: 500px

      @media (max-width: 600px)
        max-width: 300px

    code
      font-size: 14px

  .taglist
    list-style: none
    padding-left: 0px
    padding-bottom: 10px
    display: flex
    flex-wrap: wrap
    flex-direction: row

    li
      display: flex
      height: 35px
      border-radius: 1px
      padding-right: 15px
      padding-left: 15px
      margin: 10px 13px 0px 0
      background: #ebe9e7
      align-items: center
      justify-content: center
      font-family: futura-pt, sans-serif
      font-weight: 300
      font-size: 18px

    a
      text-decoration: none
      color: black

    li:hover
      background: #e0e0e0

.BlogPost__content
  margin-top: 48px

  img
    width: 100%

  // font-size: 16px

  @media($mobileBreak)
    // font-size: 14px

.BlogPost__taglistContainer
  margin-top: 56px

///////////////////////////
// Footer Author Section //
///////////////////////////

.AuthorPage__header
  display: flex
  flex-direction: row
  font-size: 24px
  margin-top: 48px
  margin-bottom: 48px

  @media($mobileBreak)
    flex-direction: column
    justify-content: flex-start
    align-items: center

.AuthorPage__sharebuttons
  position: fixed
  top: 25%
  left: 15%
  height: 250px
  margin-right: auto
  margin-left: auto
  align-self: center
  display: flex
  flex-direction: column
  justify-content: space-around

  @media($indexBreak)
    display: none

  img
    margin-bottom: 24px

.AuthorPage__sharebuttonsFixed
  position: absolute !important
  top: auto
  bottom: 765px

.AuthorPage__header__imageContainer
  margin-right: 48px
  display: inline

  @media($mobileBreak)
    margin-right: 0px

.AuthorPage__header__image
  border-radius: 100px

// .AuthorPage__header__imageContainerMobile
//   display: none

//   @media($mobileBreak)
//     display: inline

.AuthorPage__header__imageMobile
  border-radius: 80px

.AuthorPage__header__text
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 80%

  @media($mobileBreak)
    align-items: center
    width: 100%

.AuthorPage__header__text__name
  font-family: $primaryFont
  color: $blackFontColor
  font-size: 22px
  line-height: 31px
  margin-bottom: 16px

  @media ($mobileBreak)
    color: $greyFontColor
    font-weight: 600
    font-size: 18px

.AuthorPage__header__text__bio
  font-family: $secondaryFont
  color: $blackFontColor
  font-size: 14px
  line-height: 23px

  @media($mobileBreak)
    color: $greyFontColor
    text-align: center

////////////////////
// Article Footer //
////////////////////

.Article__footer
  width: 100%
  margin-right: auto
  margin-left: auto
