# Project dependencies
node_modules
.cache/
plugins/*/node_modules
plugins/*/.cache
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
# Project specific
src/constants
push_to_all.sh