@import ../../styles/global

.AuthorPage
  width: 90%
  margin-top: 48px
  margin-right: auto
  margin-left: auto
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  @media(max-width: 800px)
    flex-direction: column
    align-items: center

.AuthorPage__content
  width: 60%

  @media($indexBreak)
    width: 80%

  @media(max-width: 800px)
    width: 90%

////////////////////
// Header Section //
////////////////////

.AuthorPage__header
  display: flex
  flex-direction: row
  font-size: 24px
  margin-top: 24px
  margin-bottom: 24px

  @media($mobileBreak)
    flex-direction: column
    justify-content: flex-start
    align-items: center

.AuthorPage__header__imageContainer
  margin-right: 48px
  display: inline

  @media($mobileBreak)
    display: none

.AuthorPage__header__image
  border-radius: 100px

.AuthorPage__header__imageContainerMobile
  display: none

  @media($mobileBreak)
    display: inline

.AuthorPage__header__imageMobile
  border-radius: 80px

.AuthorPage__header__text
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 60%

  @media($mobileBreak)
    align-items: center
    width: 100%

.AuthorPage__header__text__name
  font-family: $primaryFont
  color: $blackFontColor
  font-size: 22px
  line-height: 31px
  margin-bottom: 16px

  @media ($mobileBreak)
    font-weight: 600
    font-size: 18px

.AuthorPage__header__text__bio
  font-family: $secondaryFont
  color: $blackFontColor
  font-size: 14px
  line-height: 23px

  @media($mobileBreak)
    color: $greyFontColor
    text-align: center

.AuthorPage__lineBreak
  margin-top: 64px
  margin-bottom: 88px

  @media($mobileBreak)
    margin-top: 48px
    margin-bottom: 56px

.AuthorPage__postsContainer
