///////////////////////////////////////////////////////////////////////////////
// PostCard.module.sass ///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import ../../../styles/global

///////////////////////////////////////////////////////////////////////////////
// Normal PostCard ////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.Post
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  margin-bottom: 48px

  @media($mobileBreak)
    width: 100%

.Post__thumbnailContainer
  width: 400px

  @media($mobileBreak)
    display: none

.Post__thumbnail
  // width: 100%
  display: block

  @media($mobileBreak)
    display: none

.Post__text
  margin-left: 24px

  @media($mobileBreak)
    margin-left: 0px
    max-width: 55%

  a
    text-decoration: none

.Post__text__title
  font-family: $primaryFont
  color: $blackFontColor
  font-size: 22px

  @media($mobileBreak)
    font-size: 14px

  @media($mobileBreak)
    font-family: $secondaryFont

.Post__text__description
  color: $greyFontColor

  @media($mobileBreak)
    display: none

.Post__text__info
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 12px
  font-size: 12px

  @media(max-width: 350px)
    font-size: 9px

  a
    text-decoration: none

.Post__text__info__author
  font-family: $secondaryFont
  color: $greyFontColor

.Post__thumbnailMobile
  @media($mobileBreak)
    width: 120px

///////////////////////////////////////////////////////////////////////////////
// Large PostCard /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
