///////////////////////////////////////////////////////////////////////////////
// PostCard.module.sass ///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import ../../../styles/global

///////////////////////////////////////////////////////////////////////////////
// Normal PostCard ////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.Post
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  margin-bottom: 48px

  @media($mobileBreak)
    width: 100%

    // max-width: 350px
    margin-right: auto
    margin-left: auto
    flex-direction: row-reverse

.Post__thumbnailContainer
  width: 400px

  @media($mobileBreak)
    width: 45%
    min-width: 120px

.Post__thumbnail
  // width: 100%
  display: block

  @media($mobileBreak)
    // display: none

.Post__text
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-left: 36px
  width: 65%

  @media($mobileBreak)
    margin-left: 0px
    max-width: 55%

  a
    text-decoration: none

.Post__text__title
  font-family: $primaryFont
  color: $blackFontColor
  font-size: 22px
  margin-bottom: 12px

  @media($indexBreak)
    margin-bottom: 6px

  @media($mobileBreak)
    font-size: 14px
    font-family: $secondaryFont

.Post__text__description
  color: $greyFontColor

  @media($mobileBreak)
    display: none

.Post__text__info
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 12px
  font-size: 12px

  @media ($mobileBreak)
    justify-content: flex-start

  @media(max-width: 350px)
    font-size: 9px

  a
    text-decoration: none

.Post__linkContainer
  display: flex
  flex-direction: row
  align-items: center

.Post__headshot
  width: 20px
  height: 20px
  border-radius: 10px
  margin-right: 6px

.Post__text__info__author
  font-family: $secondaryFont
  color: $greyFontColor
  margin-right: 12px

.Post__thumbnailMobile
  @media($mobileBreak)
    width: 120px

///////////////////////////////////////////////////////////////////////////////
// Large PostCard /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
