///////////////////////////////////////////////////////////////////////////////
// 404.module.sass ////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import global

.NotFoundPage
  margin-top: 48px
  margin-right: auto
  margin-left: 70px
  width: 90%

  @media($mobileBreak)
    margin-left: 10px

.NotFoundPageTitle
  @extend .headerFontSize

.NotFoundPageBody
  @extend .bodyFontSize

  margin-top: 12px
