///////////////////////////////////////////////////////////////////////////////
// about.module.sass //////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import global

////////////////
// About Page //
////////////////
.About
  @extend .pageSpacing

  display: flex
  flex-direction: column
  align-items: center
  width: 50%

.About__blogInfo
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  min-width: 275px

.About__blogInfo__title
  @extend .headerFontSize

  text-align: center

.About__blogInfo__body
  @extend .bodyFontSize

  margin-top: 24px

  @media($mobileBreak)
    text-align: center

.About__writers
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.About__writers__title
  @extend .subHeaderFontSize

  margin-top: 48px

.About__writers__list
  min-width: 275px
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start

/////////////////////////////
// Individual Writer Cards //
/////////////////////////////

.writer
  display: flex
  flex-direction: row
  align-content: flex-start
  justify-content: flex-start
  text-decoration: none
  margin-top: 24px

  &:hover
    color: #828282

.writer__headshot
  margin-right: 24px
  border-radius: 40px
  position: relative
  overflow: hidden
  display: inline-block
  width: 70px
  height: 70px

.writer__text
  width: 75%
  display: flex
  flex-direction: column

.writer__text__name
  @extend .bodyFontSize

  color: $blackFontColor

.writer__text__bio
  @extend .descFontSize

  margin-top: 24px
  color: $greyFontColor
