$mobileBreak: "max-width: 760px"
$indexBreak: "max-width: 1000px"

$primaryFont: futura-pt, sans-serif
$secondaryFont: rubik
$blogFont: proxima-nova, sans-serif
$blackFontColor: #000
$greyFontColor: #767676
