backend:
  name: git-gateway
  branch: master
publish_mode: editorial_workflow
media_folder: static/img
public_folder: /img
logo_url: >-
  https://s3.amazonaws.com/megaphone-logo-uploads/1550942821883_blogwise%20logo%20final%20%281%29.png
collections:
  - name: blog
    label: Blog Post
    folder: src/pages/a
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    fields:
      - label: Template Key
        name: templateKey
        widget: hidden
        default: blog-post
      - label: Title
        name: title
        widget: string
      - label: Author
        name: author
        widget: select
        options:
          - label: Dara Li
            value: 5176e3dc-07c5-4c13-8797-f484bf695f2f
      - label: Publish Date
        name: date
        widget: datetime
      - label: Thumbnail
        name: thumbnail
        widget: image
        required: false
        allow_multiple: false
      - label: Description
        name: description
        widget: text
      - label: Body
        name: body
        widget: markdown
      - label: Tags
        name: tags
        widget: select
        multiple: true
        options:
          - label: Blogging
            value: 53b5aa80-2250-407a-ab98-6d365d39dffc
          - label: Content Marketing
            value: be032b77-8040-46d6-86a1-f9dffb082c6d
          - label: Startups
            value: c7883027-ca2f-49b2-b0eb-8f357bf4cc25
  - name: pages
    label: Pages
    files:
      - file: src/pages/about/index.md
        label: About
        name: about
        fields:
          - label: Template Key
            name: templateKey
            widget: hidden
            default: about-page
          - label: Title
            name: title
            widget: string
          - label: Body
            name: body
            widget: markdown
