.navbar-container
  height: 80px
  padding: -10px
  display: flex
  flex-direction: row
  align-items: center

  #navbar-logo
    margin-left: 70px
    max-height: 50px
    
  #navbar-links
    margin-left: 80px
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    a
      font-family: 'Lato'
      font-weight: 300
      font-size: 18px
      text-decoration: none
    a:hover
      text-decoration: none