.navbar-container
  height: 80px
  padding: -10px
  display: flex
  flex-direction: row
  align-items: center

  #navbar-logo
    margin-left: 70px
    max-height: 50px
    // @media (max-width: 800px)
    //   padding-left: 5%