html
  margin: 0
  padding: 0
  overflow-x: hidden
body
  min-height: 100vh
  position: relative
  margin: 0
  padding-bottom: 8rem

@font-face 
  font-family: 'Assistant Regular'
  src: url('/fonts/Assistant-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
